*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,sans-serif;

background:var(--background);

color:var(--text);

overflow-x:hidden;

}

a{

text-decoration:none;

}

.card{

border:none;

border-radius:var(--radius);

box-shadow:var(--shadow);

}

.form-control{

height:52px;

border-radius:12px;

}

.btn{

height:50px;

border-radius:12px;

font-weight:600;

}

.btn-primary{

background:var(--primary);

border:none;

}

.btn-primary:hover{

background:#29492d;

}