.sidebar{

position:fixed;

left:0;

top:0;

width:260px;

height:100vh;

background:#1E293B;

padding:25px;

color:white;

overflow-y:auto;

}

.logo{

margin-bottom:40px;

text-align:center;

}

.logo h4{

font-weight:700;

color:#D4AF37;

}

.menu-item{

display:flex;

align-items:center;

gap:15px;

padding:14px 16px;

margin-bottom:10px;

border-radius:12px;

color:white;

text-decoration:none;

transition:.3s;

}

.menu-item:hover{

background:#355E3B;

color:white;

}

.menu-item.active{

background:#355E3B;

font-weight:600;

}

.menu-item svg{

font-size:20px;

}