.login-card{

width:100%;
max-width:460px;

padding:40px;

border-radius:20px;

background:white;

box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.login-title{

font-weight:700;

color:#355E3B;

}

.form-control{

height:55px;

}

.btn-login{

height:55px;

font-size:18px;

font-weight:600;

}

.password-icon{

cursor:pointer;

}